<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookreviewsver112">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".config.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity"/>
        <activity android:name="com.example.bookreviewsver112.src.home.HomeFragment"/>

        <activity android:name="com.example.bookreviewsver112.src.report.login.LoginMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.bookreviewsver112.src.Find.FindIdActivity"/>
        <activity android:name="com.example.bookreviewsver112.src.Find.FindId2Activity"/>
        <activity android:name="com.example.bookreviewsver112.src.Find.FindPasswordActivity"/>
        <activity android:name="com.example.bookreviewsver112.src.Find.FindPassword2Activity"/>
        <activity android:name="com.example.bookreviewsver112.src.report.login.JoinActivity"/>

        <activity android:name="com.example.bookreviewsver112.src.report.ReportListFragment"/>
        <activity android:name="com.example.bookreviewsver112.src.report.ReportPostActivity"/>
        <activity android:name="com.example.bookreviewsver112.src.report.ReportWriterActivity"/>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data android:host="oauth"
                    android:scheme="kakao174b184e053e2b34aeef834df655f97d" />
            </intent-filter>
    </activity>
    </application>

</manifest>